


%h1.title
  WDI Trivia

#players
- 3.times do |i| # There are three players
  .player{id: "player_#{i}"}
    .p 0

%br


#game-control
  = link_to "Start Game", new_game_path, remote: true, id: "start_game"


