= link_to "New Game", new_game_path, remote: true


%h1.trivia
  WDI TRIVIA!!!

#players
- 3.times do |i| # There are three players
  .player{id: "player_#{i}"}
    .p 0

%br

#question

#answers





