// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#players {
  overflow: hidden;
}
.player {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: red;
  float: left;
}

a {
  display: block;
}
